html
    head
    body
        div(style='width:300px;margin:0 auto;text-align:center')
            p Einladung zur Studie!
            p Liebe/r Teilnehmer/in,
            p Vielen Dank, dass Sie sich entschieden haben, an der Studie teilzunehmen!
            p Bevor das Experiment startet, lesen Sie sich die Instruktionen bitte sorgfältig durch und folgen den Anweisungen zur Nutzung des Ihnen zur Verfügung gestellten Tablets:
            p Das Experiment muss auf diesem Tablet durchgeführt werden. Die Durchführung auf einem Laptop oder Smartphone ist leider nicht möglich.
            p Bitte folgen Sie nun den Anweisungen:
            p 1. Horizontal: Legen Sie das Tablet bitte horizontal/waagrecht vor sich auf den Tisch, also mit der langen Fläche nach oben bzw. unten.
            p 2. Verbindung mit dem Internet: Verbinden Sie das Tablet mit Ihrem Internet zu Hause. Das erreichen Sie indem Sie schnell das Bild von oben herunterziehen und dann etwas länger auf das Wlan-Symbol in der Statusleiste drücken. Anschließend sollten sich die verschiedenen Internetverbindungen öffnen. Wählen Sie hier Ihr privates Wlan aus und geben Ihr dazugehöriges Passwort ein.
            p 3. So kommen Sie zu Ihrem Experiment: Sobald Sie die Instruktionen vollständig gelesen haben, klicken Sie auf den untenstehenden Link. Dieser führt Sie zu einem QR-Code.
            p 4. Scannen des QR-Codes: Um diesen Code mit dem Tablet zu scannen, starten Sie die Samsung Internet App (lila Icon auf dem Bildschirm) und tippen in die Adresszeile des Browsers. Tippen Sie auf das QR-Symbol rechts oben neben der Adresszeile. Richten Sie die Hauptkamera auf den QR-Code, um ihn zu scannen. Sobald das Tablet den Code gescannt hat, öffnet sich auf dem Tablet das Experiment.
            p 5. Durchführung des Experiments: Folgen Sie hierfür bitte den Anweisungen im Experiment. Es könnte vorkommen, dass auf Ihrem Bildschirm die Meldung "disconnecting" erscheint. Dies kann bei einer instabilen Internetverbindung passieren. Sobald die Internetverbindung wieder stabil ist, erscheint "reconnecting" und Sie können das Experiment fortfahren. Bitte haben Sie hier etwas Geduld.
            p 6. Abschluss des Experiments: Nachdem Sie das Experiment abgeschlossen haben, löschen Sie bitte Ihre Wlan-Verbindung. Dafür ziehen Sie wie zu Beginn das Bild von oben herunter und drücken etwas länger auf das Wlan-Symbol. Wählen Sie Ihr Wlan aus und drücken Sie auf den blauen Button "forget", um Ihre Verbindung von dem Tablet zu löschen. Ohne eine erneute Eingabe des Wlan-Passworts, kann nun nicht mehr durch das Tablet auf Ihre Internetverbindung zugegriffen werden.
            p Bei technischen Problemen oder Fragen bezüglich des Experiments kontaktieren Sie bitte folgende E-Mailadresse: lisa.buechler@uni-ulm.de / teresa.fesseler@uni-ulm.de / priscilla.balestrucci@uni-ulm.de
            
            p Vielen Dank für Ihre Teilnahme an unserem Experiment!

            p Sie können diesen Link jetzt anklicken, um zum QR-Code mit dem Tablet scannen.
            img(src=imgSrc, style='width:'+imgWidth+'px;margin:0 auto;')
            a(href=imgSrc) #{imgSrc}
